/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #aaaaaa, #e6e6e6);
  position: relative;
  overflow-x: hidden;
}

/* capa del patrón */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url("imagenes/Fondo.webp");
  background-size: cover; /* 🔥 ocupa toda la pantalla */
  background-position: center; /* 🔥 centrado */
  background-repeat: no-repeat; /* 🔥 no se repite */

  pointer-events: none;
}
/* Contenedor centrado */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  min-height: 100vh;
  align-items: flex-start;
  padding: 80px 20px; /* 🔥 baja todo */
}
/* Tarjeta */
.card {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.03); /* transparencia */
  backdrop-filter: blur(15px); /* efecto vidrio */
  -webkit-backdrop-filter: blur(15px); /* soporte safari */

  padding: 30px;
  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3); /* borde suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 350px;
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  opacity: 0.5;
  pointer-events: none;
}
/* Título */
.titulo {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

/* Input grande */
.input-grande {
  width: 100%;
  font-size: 40px;
  text-align: center;

  background: transparent; /* 🔥 quita fondo */
  border: none; /* 🔥 quita bordes */
  outline: none;

  color: #ffffff; /* blanco para que contraste */

  margin-bottom: 20px;

  /* lienea debajo  */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.input-grande::placeholder {
  color: rgba(255, 255, 255, 0.9); /* casi blanco */
}

/* Contenedor botones */
.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones base */
.btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.btn:hover {
  transform: scale(1.05);
}

/* Colores */
.btn-primario {
  background: #4caf50;
  color: white;
}

.btn-secundario {
  background: #2196f3;
  color: white;
}

.btn-terciario {
  background: #f1f1f1;
}
.autor {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 15px;
}

.tabla-container {
  width: 100%;
  max-width: 600px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.05); /* 🔥 transparencia */
  backdrop-filter: blur(15px); /* 🔥 vidrio */
  -webkit-backdrop-filter: blur(15px);

  border-radius: 0;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.3); /* 🔥 borde suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.2); /* más suave */
  padding: 10px;
  text-align: center;
  color: #fff; /* 🔥 blanco como la card */
}
th {
  top: 0;
  background: rgba(0, 0, 0, 0.6); /* importante */
  z-index: 2;
}

table::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: none;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );

  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}
.tabla-scroll {
  max-height: 400px;
  overflow-y: auto;
}
.tabla-footer {
  width: 100%;
  border-radius: 0 0 15px 15px; /* 🔥 solo abajo */
  background: rgba(255, 255, 255, 0.05); /* mismo estilo tabla */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none; /* se pega a la tabla */

  padding: 10px;
  text-align: center;
  color: #fff;

  font-weight: bold;

  border-radius: 0 0 15px 15px;
}

.tabla-scroll::-webkit-scrollbar {
  width: 5px;
}

.tabla-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tabla-scroll::-webkit-scrollbar-thumb {
  background: #4caf50;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.tabla-scroll::-webkit-scrollbar-thumb:hover {
  background: #0287b4;
}

.tabla-header {
  width: 100%;
  border-collapse: collapse;

  border-radius: 15px 15px 0 0; /*  solo arriba */
  overflow: hidden; /*  clave */
}

.tabla-header th,
.tabla-scroll td {
  width: 50%;
}

.animar-entrada {
  opacity: 0;
  transform: translateY(50px) scale(0.95);
  animation: aparecerSuave 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.nueva-fila {
  animation: fadeFila 0.3s ease;
}

@keyframes fadeFila {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


@keyframes aparecerSuave {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }

  60% {
    opacity: 1;
    transform: translateY(-8px) scale(1.02); /* 🔥 pequeño rebote */
  }

  100% {
    transform: translateY(0) scale(1);
  }
}



/* 📱 RESPONSIVE */
@media (max-width: 480px) {
  .card {
    padding: 20px;
    border-radius: 15px;
  }

  .input-grande {
    font-size: 26px;
    padding: 12px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 🔥 ESTA ES LA CLAVE */
    align-items: center;
    padding: 40px 15px;
    margin-top: 20px;
  }
  .card,
  .tabla-container {
    width: 100%;
    max-width: 100%;
  }
  .card {
    padding: 20px;
    border-radius: 15px;
  }

  .input-grande {
    font-size: 26px;
    padding: 12px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  .tabla-footer {
    font-size: 14px;
  }
}
