/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  font-family: Arial, sans-serif;

  background: linear-gradient(135deg, #0f2a44, #1e4e79, #2c6e91);

  min-height: 100vh;
  margin: 0;
}

.topbar {
  width: 100%;
  height: 60px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.logo img {
  height: 28px; /* 🔥 controla el tamaño del logo */
  width: auto;
  object-fit: contain;
}

.user {
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-size: 13px;
}
.header {
  width: 100%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.header-left h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.header-left p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  margin-top: 3px;
}

.header-right {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  border-radius: 8px;
}

.usuario {
  color: white;
  font-size: 13px;
}

.descripcion {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 40px;

  width: 100%;
  max-width: 1100px;
  width: 100%;
}
/* Tarjeta */
.card {
  position: sticky;
  top: 100px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.03); /* transparencia */
  backdrop-filter: blur(15px); /* efecto vidrio */
  -webkit-backdrop-filter: blur(15px); /* soporte safari */

  padding: 30px;
  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3); /* borde suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  opacity: 0.5;
  pointer-events: none;
}
/* Título */
.titulo {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

/* Input grande */
.input-grande {
  width: 100%;
  font-size: 40px;
  text-align: center;

  background: transparent; /* 🔥 quita fondo */
  border: none; /* 🔥 quita bordes */
  outline: none;

  color: #ffffff; /* blanco para que contraste */

  margin-bottom: 20px;

  /* lienea debajo  */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.input-grande::placeholder {
  color: rgba(255, 255, 255, 0.9); /* casi blanco */
}

/* Contenedor botones */
.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones base */
.btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.btn:hover {
  transform: scale(1.05);
}

/* Colores */
.btn-primario {
  background: linear-gradient(135deg, #4caf50, #43a047);
  font-weight: 500;
}

.btn-secundario {
  background: #2196f3;
  color: white;
}

.btn-terciario {
  background: #f1f1f1;
}
.autor {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px;
  margin-top: 15px;
}
.seccion {
  width: 100%;
  max-width: 1100px;
  margin: 30px auto 10px auto;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2; /* 🔥 lo acerca a la card */
}

.seccion h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.seccion p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-top: 5px;
}

.tabla-container {
  width: 100%;
  max-width: 700px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.05); /* 🔥 transparencia */
  backdrop-filter: blur(15px); /* 🔥 vidrio */
  -webkit-backdrop-filter: blur(15px);

  border-radius: 0;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.3); /* 🔥 borde suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.2); /* más suave */
  padding: 10px;
  text-align: center;
  color: #fff; /* 🔥 blanco como la card */
}
th {
  top: 0;
  background: rgba(0, 0, 0, 0.6); /* importante */
  z-index: 2;
}

table::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: none;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );

  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}
.tabla-scroll {
  max-height: 400px;
  overflow-y: auto;
}
.tabla-footer {
  width: 100%;
  border-radius: 0 0 15px 15px; /* 🔥 solo abajo */
  background: rgba(255, 255, 255, 0.05); /* mismo estilo tabla */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none; /* se pega a la tabla */

  padding: 10px;
  text-align: center;
  color: #fff;

  font-weight: bold;

  border-radius: 0 0 15px 15px;
}

.tabla-scroll::-webkit-scrollbar {
  width: 5px;
}

.tabla-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tabla-scroll::-webkit-scrollbar-thumb {
  background: #4caf50;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.tabla-scroll::-webkit-scrollbar-thumb:hover {
  background: #0287b4;
}

.tabla-header {
  width: 100%;
  border-collapse: collapse;

  border-radius: 15px 15px 0 0; /*  solo arriba */
  overflow: hidden; /*  clave */
}

.tabla-header th,
.tabla-scroll td {
  width: 50%;
}

.animar-entrada {
  opacity: 0;
  transform: translateY(50px) scale(0.95);
  animation: aparecerSuave 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.nueva-fila {
  animation: fadeFila 0.3s ease;
}

.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; /* 🔥 centra todo */
  padding: 20px;
}

@keyframes fadeFila {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aparecerSuave {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }

  60% {
    opacity: 1;
    transform: translateY(-8px) scale(1.02); /* 🔥 pequeño rebote */
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

/* 📱 RESPONSIVE */
@media (max-width: 480px) {
  .card {
    padding: 20px;
    border-radius: 15px;
  }

  .input-grande {
    font-size: 26px;
    padding: 12px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 🔥 ESTA ES LA CLAVE */
    align-items: center;
    padding: 40px 15px;
    margin-top: 20px;
  }
  .card,
  .tabla-container {
    width: 100%;
    max-width: 100%;
  }
  .card {
    padding: 20px;
    border-radius: 15px;
  }

  .input-grande {
    font-size: 26px;
    padding: 12px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  .tabla-footer {
    font-size: 14px;
  }
}
